.batch-div {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 5rem;
    justify-content: space-between;
    /* background-color: rgb(224, 72, 17); */
  }
  
  .batch-button {
    width: 15rem; /* Fixed width for the buttons */
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: all 0.3s ease; /* Add a transition for smooth animation */
  }
  
  .batch-button.expanded {
    background-color: #01fcac; /* Change the background color when expanded */
    color: #0b0600; /* Change the text color when expanded */
  }
  